# Driver: mysql | postgres | sqlite
TRACE_DRIVER=mysql

# Conexão completa em formato DSN
# MySQL:    TRACE_DSN=root:password@tcp(localhost:3306)/database
# Postgres: TRACE_DSN=postgres://user:password@localhost:5432/database
# SQLite:   TRACE_DSN=file:./database.sqlite
TRACE_DSN=

# Valores padrão (opcionais)
TRACE_TABLE=
TRACE_COLUMN=id
