# Exemplo de configura??o TraceSQL
TRACESQL_DRIVER=postgres
TRACESQL_DSN=postgres://user:pass@localhost:5432/dbname
TRACESQL_TABLE=users
TRACESQL_COLUMN=id
TRACESQL_RECORD=1
TRACESQL_NEW_IDS=false
TRACESQL_OUT=./export.sql
